<!DOCTYPE html>
<html>
<head>
  <title>Tweets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
 <div id ="container">
   <div style="width:1000px;">
   <div id="header">
     <%= render "header" %>
   </div>
   <div id="sidebar">
     <%= render "sidebar" %>
   </div>
   <div id="content">
     <%= yield %>
   </div>
   <div id="footer">
     <%= render "footer"%>
   </div>
   </div>
 </div>
 <img class="soutai" height="200" src="/icon.jpg" width="200" />
</body>
</html>
