<h1>近畿大学</h1>
<span id="abc">@kinkidaigakuPR</span>
<br>
近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に、
大学に関する情報を発信していきます。個別DMでのお問い合わせには返信を行っておりませんので、
ご了承ください。
<br>
<br>
<img class="con" alt="head" src="/gps.JPG" align="left"/>
<div id="abc">大阪府大阪市</div>
<img class="con" alt="head" src="/rink.JPG" align="left"/>
<a href="instagram.com/kinkidaigakupr/">instagram.com/kinkidaigakupr/</a>
<br>
<img class="con" alt="head" src="/car.JPG" align="left"/>
<div id="abc">2010年12月に登録</div>
<%= link_to "ツイート", new_tweet_path %>

