
  <div id="content">
   <% flash.each do |type,msg| %>
   <%= msg %>
   <% end %>

   <p>

<% @tweets.reverse_each do |tweet| %>

 <img class="icon" alt="head" src="/icon.jpg" align="left"/>
 <b>近畿大学</b> <span id="abc">@kinkidaigakuPR</span>　<%= (Time.current - tweet.tdate).to_i / 60 %> 分前
 <br>
 <%= link_to tweet.message %>
 <%= link_to '削除', tweet, method: :delete %>
 <%= link_to '表示', tweet %>
 <%= link_to '編集', edit_tweet_path(tweet) %>
 </p>
<% end %>

</div>