/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.icon{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
}
.con{
    width:  20px;       /* ※縦横を同値に */
    height: 20px;       /* ※縦横を同値に */
}

body{background-color:#E4EEF1}

#abc{
  font-size:15px;
  color:#808080;
}

#wrap {
width:1200px;
margin:0px auto;
}

header {
background-color: #FFFFFF;
}

#sidebar {
float:left;
width:300px;
margin:10px 10px 10px 0px;
background-color: #FFFFFF;
}

#content {
float:left;
width:600px;
margin:10px 0px 10px 0px;
background-color: #FFFFFF;
}

footer {
clear:both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

.soutai {
  position: absolute;
  top: 90px;
  left: 40px;
  border-radius: 50%;
  border-style:solid;
  border-color: #FFFFFF;
}

#m1{
    position:relative;
    left:310px;
    color:#808080;
    background-color: #FFFFFF;
}